{% extends "_layout" %}

    {% block content %} 

    {# {% include "/components/navigation.html" %}

    {% include "/components/hero.html" %} #}

    <div class="container">
        <h2>Frequently Asked Questions</h2>
    </div>

    {# {% include "/components/cta.html" %}

    {% include "/components/footer.html" %} #}

    {% endblock %}