footer {
	width: 100vw;

	.footer-logo {
		height: 154px;
		width: 154px;
	}

	.footer-social {
	height: 32px;
	width: 32px;
	}

	.footer-contents {
	width: 100vw;
	}

	.footer-input {
	border: solid 1px #FFFFFF;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
	border-radius: 18px;
	background-color: transparent;
	}
	a {
		color: #464646 !important;
	}
	}

.footer-container {
	margin-top: 150px;
}

.mobile-footer-link {
	color: white;
}
.mobile-footer-link:visited {
	color: white;
}


