.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

.nav-phone {
	content:url("/images/branding/streamline-icon-phone@64x64_white.svg");
}

.nav-search {
	content:url("/images/branding/streamline-icon-search-alternate@64x64_white.svg");
}

.scrolled {
	background-color: #ffffff;
	align-items: center;
	justify-content: center;

	 .nav-link {
		color: #006ea4;
	 
	  .nav-icon {
		height: 40px;
		width: 40px;
	}
}

.nav-phone {
	content: url("/images/branding/streamline-icon-phone@64x64_bluegrass.svg");
}

.nav-search {
	content: url("/images/branding/streamline-icon-search-alternate@64x64_bluegrass.svg");
}

}



