.navbar-toggler {
	background-color: #006ea4;
}

.nav-link {
	text-transform: uppercase;
	color: white;
	font-family: Gotham-Medium;
	font-size: 18px;
	text-align: center;
}

.nav-logo {
	height: 60px;
	width: 60px;
}

.nav-item {
	color: white;
}

.nav-icon {
	height: 40px;
	width: 40px;
}
