{% extends "_layout" %}

    {% block content %} 

    {% include "/components/navbar-services.html" %}

<div class="container infoPage">
            <h1>{{ entry.title }}</h1>
</div>
    <div class="services-temporary-body container mt-5 mb-5">
        <div>
            {{ entry.bodyCopy }}
        </div>
    </div>

    {% if craft.mobileDetect.isMobile %}

        {% include "/components/mobile-cta.html" %}

        {% else %}
        
        {% include "/components/cta.html" %}

    {% endif %}

    {% include "/components/footer.html" %}
    
    {% endblock %}