{% extends "_layout" %}

    {% block content %} 

        {% include "/components/navbar-services.html" %}

        <div class="container infoPage">
            <h1>{{ entry.title }}</h1>
        

        {% include "/components/body-copy.html" %}

            <div class="mt-5 mb-5">
                <a href="/sign-up" class="button lgsb">Try Again</a>
            </div>  
        </div>

        {% include "/components/footer.html" %}
        
    {% endblock %}