{% extends "_layout" %}


{% block content %}

{% include "/components/navbar-services.html" %}

{% include "/components/blog-index.html" %}

{% include "/components/resource-search-bar.html" %}

<div class="container mt-5">
  <div class="row text-left">

  {% for entry in craft.entries.section('Blog').offset(1).all() %}

      <div class="col-lg-4 mb-4">
        <div class="card mt-3 h-100">
          {% if entry.picture | length %}
        <img src="{{ entry.picture.one().getUrl() }}" class="card-img-top" alt="...">
        {% else %}
        <img src="/images/blog/Stocksy_txp5f38c8e57MT000_Original_315051.jpg" class="card-img-top" alt="...">
        {% endif %}
          <div class="card-body">

            {% for entry in entry.serviceLine.all() %}

            <p class="card-subtitle bodyText">{{ entry.title|upper }}</p>

            {% endfor %}
            
            <h3 class="card-title mb-2"><a href="{{ entry.url }}" style="color: inherit; text-decoration: inherit;">{{ entry.title }}</a></h3>
            
            <p class="card-subtitle bodyText">{{ entry.postDate|date('long') }}</p>
          </div>

          {% for author in entry.selectAuthor.all() %}

            <a href="{{ author.url }}">
              
                
              {% if author.employeePicture | length %}
              <p class="bodyText">
              <img src="{{ author.employeePicture.one().getUrl() }}" alt="{{ author.title }}" class="ml-3 mr-3" style="width: 75px; height: 75px; border-radius: 50%;">
              {{ author.title|upper }}
              </p>
              {% else %}

              <p class="bodyText ml-3" style="margin-bottom: 42px;">{{ author.title|upper }}

              {% endif %}

              

              </p>
            </a>		

          {% endfor %}
          
          </div>
      </div>

  {% endfor %}
  </div>
</div>

{% include "/components/footer.html" %}

{% endblock %}

