{% extends "_layout" %}


{% block content %}

{% include "/components/navbar-services.html" %}


<!-- If the page requested is not the first page of blog results, the blog-index is not included at the top of the page. -->
{% if craft.request.getPageNum() == 1 %} 

{% include "/components/blog-index.html" %}

{% endif %}

<!-- If the page is not page one add a spacer of 100px to make space for navbar. -->

{% if craft.request.getPageNum() > 1 %}
<div style="height: 100px;"></div>
{% endif %}

<!-- {% include "/components/resource-search-bar.html" %} -->

<div class="container mt-5">
  <div class="row text-left">

    {% set query = craft.entries()
      .section('blog')
      .limit(30)
      .offset(1) %}
  
    {% paginate query as pageInfo, pageEntries %}
    {% do seomatic.helper.paginate(pageInfo) %}

    {% for entry in pageEntries %}
    <div class="col-lg-4 mb-4 mt-2">
      <div class="card mt-3 h-100 border-0">
        {% if entry.picture | length %}
      <img src="{{ entry.picture.one().getUrl() }}" class="card-img-top" alt="...">
      {% else %}
      <img src="/images/blog/Stocksy_txp5f38c8e57MT000_Original_315051.jpg" class="card-img-top" alt="...">
      {% endif %}
        <div class="card-body">

          {% for entry in entry.serviceLine.all() %}

          <p class="card-subtitle bodyText">{{ entry.title|upper }}</p>

          {% endfor %}
          
          <h3 class="card-title mb-2"><a href="{{ entry.url }}" style="color: inherit; text-decoration: inherit;">{{ entry.title }}</a></h3>
          
          <p class="card-subtitle bodyText">{{ entry.postDate|date('long') }}</p>
        </div>

        {% for author in entry.selectAuthor.all() %}

          <a href="{{ author.url }}">
            
              
            {% if author.employeePicture | length %}
            
            <p class="bodyText">
            <img src="{{ author.employeePicture.one().getUrl() }}" alt="{{ author.title }}" class="ml-3 mr-3" style="width: 75px; height: 75px; border-radius: 50%;">
            {{ author.title|upper }}
            </p>

            {% else %}

            <p class="bodyText ml-3" style="margin-bottom: 42px;">{{ author.title|upper }}

            {% endif %}

            

            </p>
          </a>		

        {% endfor %}
        
        </div>
    </div>
   
    {% endfor %}
    
  </div>
</div>

<div class="text-center mt-3">
  
  {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="btn btn-outline btn-outline-primary mr-lg-5 text-light" style="border-radius: 18px;">PREV</a>{% endif %}
  
    
    {% if craft.mobileDetect.isMobile %}
    
    {% else %}

    <a href="{{ pageInfo.firstUrl }}" class="ml-lg-2 mr-lg-2">{{ pageInfo.totalPages - (pageInfo.totalPages-1 ) }}</a> 

    <span class="ml-2 mr-2">&#8230;</span>

    {% endif %}

  {% for page, url in pageInfo.getPrevUrls(2) %}
      <a href="{{ url }}" class="ml-lg-2 mr-lg-2">{{ page }}</a>
  {% endfor %}
  
  <span class="current ml-lg-2 mr-lg-2">{{ pageInfo.currentPage }}</span>
  
  {% for page, url in pageInfo.getNextUrls(2) %}
      <a href="{{ url }}" class="ml-lg-2 mr-lg-2">{{ page }}</a>
  {% endfor %}

  {% if craft.mobileDetect.isMobile %}
    
  {% else %}

  <span class="ml-2 mr-2">&#8230;</span>

  <a href="{{ pageInfo.lastUrl }}" class="ml-lg-2 mr-lg-2">{{ pageInfo.totalPages }}</a>
  
  {% endif %}

  {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="btn btn-outline btn-outline-primary ml-lg-5 text-light" style="border-radius: 18px;">NEXT</a>{% endif %}
  
</div>

{% include "/components/footer.html" %}

{% endblock %}

