{% extends "_layout" %}


{% block content %}

{% include "/components/navbar-services.html" %}

{% include "/components/blog-index.html" %}

{% include "/components/resource-search-bar.html" %}

<div class="container mt-5">
  <div class="row text-left">

  {% for entry in craft.entries.section('Blog').offset(1).limit(4).all() %}

      <div class="col-lg-4 mb-4">
        <div class="card mt-3 h-100">
        <img src="{{ entry.picture.one().getUrl() }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-subtitle bodyText">{{ entry.serviceLine|upper }}</p>
            <h3 class="card-title mb-2"><a href="{{ entry.url }}" style="color: inherit; text-decoration: inherit;">{{ entry.title }}</a></h3>
          </div>
            <p class="bodyText"><img src="{{ entry.employeePicture.one().getUrl() }}" alt="..." class="ml-3 mr-3">{{ entry.employeeName|upper }}</p>
        </div>
      </div>

  {% endfor %}
  </div>
</div>

{% include "/components/footer.html" %}

{% endblock %}

