{% extends "_layout" %}

    {% block content %} 
<div class="level3">
    {% include "/components/navbar-services.html" %}

    {% include "/components/thanks.html" %}

    {% include "/components/footer.html" %}
</div>
    {% endblock %}