{% extends "_layout" %}

    {% block content %} 

    {% include "/components/navigation.html" %}

    {% include "/components/hero.html" %}

    {% include "/components/service-line-row.html" %}

    <div class="container text-center mt-5">
    <h4>From our blog:</h4>
    </div>
    {% include "/components/blog-listings.html" %}

    {% include "/components/footer.html" %}
        
    {% endblock %}