/* brand styles */

$shadow: 0px 2px 4px #000000;

/* colors */

$fulfillment: #1cb09a;
$bluegrass: #006ea4;
$directmarketing: #065f67;
$interactive: #b9d40d;
$transactional: #7cb854;
$fundraising: #00875e;

$primary: $bluegrass;


/* font */

$sans-serif: "Gotham";

$font-family-base: $sans-serif;


html, body {
	font-family: $sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
	overflow: visible;
}

.bodyText {
	font-family: $sans-serif;
	font-size: 14px;
	color: #4A4A4A;
}

.introText {
	font-family: $sans-serif;
	font-size: 18px;
	color: #000000;
}

