/* brand styles */

$shadow: 0px 2px 4px #000000;

/* colors */

$fulfillment: #1cb09a;
$bluegrass: #006ea4;
$directmarketing: #065f67;
$interactive: #b9d40d;
$transactional: #7cb854;
$fundraising: #00875e;

$primary: $bluegrass;


/* font */

$sans-serif: proxima-nova;

$font-family-base: $sans-serif;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 6.21 !default;
$h2-font-size: $font-size-base * 1.107 !default;
$h3-font-size: $font-size-base * 1 !default;
$h4-font-size: $font-size-base * 1.967 !default;
$h5-font-size: $font-size-base * 1.107 !default;
$h6-font-size: $font-size-base * 1.333 !default;





html, body {
	font-family: $sans-serif;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
	overflow: visible;
}

.bodyText {
	font-family: $sans-serif;
	font-size: 14px;
	color: #4A4A4A;
}

.introText {
	font-family: $sans-serif;
	font-size: 18px;
	color: #000000;
}





