<div class="header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-fixed-top">
    <a class="navbar-brand" href="http://wearebluegrass.com">
      <img class="nav-logo" src="/images/branding/BIC_Brand_Icon_340x340.png" alt="Bluegrass Integrated Communications Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#">Industries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item ml-5 mr-5">
          <a class="nav-link" href="tel:800-928-6245">800.928.6245</a>
        </li>
        <li class="nav-item">
          <img class="nav-icon nav-link mr-2" src="/images/branding/streamline-icon-phone@64x64_white.svg" alt="Phone Icon">
        </li>
        <li class="nav-item">
          <img class="nav-icon nav-link" src="/images/branding/streamline-icon-search-alternate@64x64_white.svg" alt="Search Icon">
        </li>
      </ul>
    </div>
  </nav>
</div>