{% extends "_layout" %}

    {% block content %} 

<div class="level2">
    {% include '/components/navbar-services.html' %}

    {% include "/components/sub-service-line-hero.html" %}

{# The following component is only to be included on Mailing Lists Page #}

    {% if entry.title == "Mailing Lists" %}    

        {% include "/components/copy-image-right.html" %}
        {% include "/components/copy-image-left.html" %}
    
    {% endif %}

{# The following component is only to be included on Direct Mail Page #}

    {% if entry.title == "Direct Mail" %}    

        {% include "/components/direct-mail-three-across.html" %}
    
    {% endif %}

{# The following component is to be included on every page but Search Engine Marketing #}

    {% if entry.title != "Search Engine Marketing" %}

    {% include "/components/services-temporary-body.html" %}

    {% endif %}

{# The following component is only to be included on the Mailing Services Page. #}

    {% if entry.title == "Mailing Services" %}    

        {% include "/components/mailing-services.html" %}
    
    {% endif %}
{# The following component is only to be included on the Creative Page. #}

    {% if entry.title == "Creative" %}

        {% include "/components/creative-decisions.html" %}

    {% endif %}

    {% if entry.title == "Search Engine Marketing" %}

        {% include "/components/search-marketing.html" %}

    {% endif %}

    {% include "/components/block-trio.html" %}

    {% include "/components/sub-services-grid" %}

    {% if craft.mobileDetect.isMobile %}

        {% include "/components/mobile-cta.html" %}

        {% else %}
        
        {% include "/components/cta.html" %}

    {% endif %}

    {% include "/components/moreresources.html" with {explainer: ""} %}

       <div style="margin-top: 100px;">

        {% include "/components/partner-logo-bar.html" %}

        </div>

    {% include "/components/footer.html" %}
</div>
    {% endblock %}