{% extends "_layout" %}

    {% block content %} 

    <div class="level1">

    {% include "/components/navigation.html" %}

    {% include "/components/hero.html" %}

    {% include "/components/service-line-detail.html" %}

    {% include "/components/service-icons.html" %}

    {% include "/components/slider.html" %}
    
    {% include "/components/moreresources.html" with {explainer: ""} %}

    {% if craft.mobileDetect.isMobile %}

        {% include "/components/mobile-cta.html" %}

        {% else %}
        
        {% include "/components/cta.html" %}

    {% endif %}

    {% include "/components/footer.html" %}

    </div>
    
    {% endblock %}