{% extends "_layout" %}

    {% block content %} 

<div class="level2">
    {% include '/components/navbar-services.html' %}

    {% include "/components/service-line-hero.html" %}

    {% include "/components/services-temporary-body.html" %}

{# The following component is only to be included on the Mailing Services Page. #}

    {% if entry.title == "Mailing Services" %}    

        {% include "/components/mailing-services.html" %}
    
    {% endif %}
{# The following component is only to be included on the Creative Page. #}

    {% if entry.title == "Creative" %}

        {% include "/components/creative-decisions.html" %}

    {% endif %}

    {% include "/components/block-trio.html" %}

    {% include "/components/sub-services-grid" %}

    {% if craft.mobileDetect.isMobile %}

        {% include "/components/mobile-cta.html" %}

        {% else %}
        
        {% include "/components/cta.html" %}

    {% endif %}

    {% include "/components/moreresources.html" %}

       <div style="margin-top: 100px;">

        {% include "/components/partner-logo-bar.html" %}

        </div>

    {% include "/components/footer.html" %}
</div>
    {% endblock %}