{% extends "_layout" %}

    {% block content %} 

    {% include '/components/navbar-services.html' %}

    {% include "/components/service-line-hero.html" %}

    {% include "components/section-header.html" %}

	{% include "/components/copy-image-right.html" %}

	{% include "/components/copy-image-left.html" %}

    <h1>I am a service</h1>

    {% include "/components/footer.html" %}

    {% endblock %}