{% extends "_layout" %}


{% block content %}

{% include "/components/navigation.html" %}

{% include "/components/hero-jobs.html" %}

<div class="container">  
    <h2 class="mt-5 mb-5">Available Positions:</h2>

    {% set entries = entry.children().level(2).all() %}

        {% for entry in entries %}

    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">{{ entry.title }} - {{ entry.fullOrPart }}</h4>
            <p class="card-text">{{ entry.positionDescription|striptags|slice(0, 200)|default('Read More') }}...</p>
            <a href="{{ entry.url }}" class="btn btn-primary">Learn More</a>
        </div>
    </div>

    {% endfor %}

</div>
{% include "/components/footer.html" %}

{% endblock %}