{% extends "_layout" %}


{% block content %}

{% include "/components/navigation.html" %}

{% include "/components/hero-jobs.html" %}

<div class="container">  
    <h2 class="mt-5 mb-5">Available Positions:</h2>
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">Mail Sorter - Full Time</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="https://www.bluegrass-website-new.test/jobs/mail-sorter" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">Mail Sorter - Part Time</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="https://bluegrass.frb.io/jobs/mail-sorter" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>
{% include "/components/footer.html" %}

{% endblock %}