.cta-container {
	height: 1000px;
	color: #FFFFFF;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;


	.cta {
		width: 500px;
		height: auto; 
	}
}

/* Vertical Line on CTA */
.vl {
border-left: 1px solid white;
height: 50px;
}

.cta .row {
	margin-left: 0;
	margin-right: 0;
}

#generalContact {
	display: none;
	width: auto;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;
}

#generalContact button .btn .btn-primary {
	border-radius: 50px;
	background-color: white;
	color: $bluegrass;
}


