.partners {
	background-color: #006ea4; 
	height: 156px;

	@media only screen and (max-width: 1049px) {
			height: 312px;
			}

	@media only screen and (max-width: 600px) {
		height: 468px;
	}

	@media only screen and (max-width: 329px) {
		height: 936px;
	}
	
}

