#service-line-row {
	text-align: center;
	align-items: center;

@media only screen and (max-width: 600px) {
	align-items: center;
}


.discover {
	font-size: 18px; 
	font-weight: bold; 
	text-transform: uppercase;
	color: #4A4A4A;
	margin-bottom: 63px !important;

		@media only screen and (max-width: 600px) {
			margin-bottom: 5px !important;
}
}

	.card {
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 190px;
	height: auto;
	}

	.card-text {
	text-transform: uppercase;
	}

	.row .icon-row {
	margin-bottom: 204px !important;
	}

}