{% extends "_layout" %}

    {% block content %} 

    {% include "/components/navbar-services.html" %}

    <div class="services-temporary-body container infoPage mb-5">
        <h1 class="mb-5">{{ entry.title }}</h1>
            <div>
                {{ entry.bodyCopy }}
            </div>
    </div>

    {% include "/components/footer.html" %}

    {% endblock %}