{% extends "_layout" %}

    {% block content %} 

    {% include "/components/navigation.html" %}

    {% include "/components/hero.html" %}

    <div class="services-temporary-body container mt-5 mb-5">
        <div>
            {{ entry.bodyCopy }}
        </div>
    </div>

    {% include "/components/footer.html" %}

    {% endblock %}