<div id="e404" class="container">
    <h1>404</h1>
    <h2 class="mb-4">Page Not Found</h2>
    <p class="col-lg-6 pl-0">We can’t seem to find the page you’re looking for. This could mean a URL was miss-typed or a page was moved. Let’s try again.
        Here are a few helpful links:</p>
        <a href="/">Home</a>
        <a href="/about-us">About Us</a>
        <a href="/blog">Resources</a>
        <a href="/reach-us">Contact</a>
    <h3 class="mt-5 mb-2">Want to learn more?</h3>
    <form action="search/results">
        <div class="form-group col-xs-6 col-lg-6">
            <label for="search">Search Our Site:</label>
            <input type="search" name="q" class="form-control">
        </div>
        <div class="form-group pl-0">
            <button type="submit" class="lgsb ml-3">Search</button>
        </div>
    </form>

    {% include "/templates/components/service-line-row.html" %}

    {% if craft.mobileDetect.isMobile %}

    {% include "/templates/components/mobileMoreResources.html"%}

    {% else %}

    {% include "/templates/components/moreresources.html" %}

    {% endif %}    
</div>
