<div style="height: 200px; background-color: white;"></div>
    <div class="container">
        <div style="background-color: white; text-align: center;">
            <iframe height="315px" width="60%" src="{{ entry.amplifyVideo }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    <div>{{ entry.bodyCopy }}</div>

</div>

{% include "/components/amplifychannelsrow.html" %}

<div class="mt-5 pb-5" style="background-color: #102542; color: white;">
    <h4 class="text-center pt-5 pb-2">{{ entry.amplifyChannelHeading }}</h4>
    <p class="text-center pb-5">{{ entry.amplifyChannelCopy }}</p>
    <div class="container">

{% for block in entry.amplifyChannels.all() %}

        <div class="row text-center mb-3">
            <div class="col-md-4 col-sm-6 text-md-right text-sm-center"> 
            <img class="stat" src="{{ block.channelIcon.one().getUrl() }}" alt="" height="200px" width="200px">
            </div>
            <div class="col-md-8 col-sm-6 my-auto text-md-left text-sm-center">
            <h4>{{ block.channelName }}</h4>
            <p>{{ block.channelDescription }}</p>
            </div>
        </div>

{% endfor %}

    </div>
</div>