{% if entry.subServiceResourceBlock | length %}
<div class="container">
    <div class="row ml-5 mr-5">

        {% for block in entry.subServiceResourceBlock.all() %}

        <div class="col col-lg-4 col-12">
            {% if block.image | length %}
            <img src="{{ block.image.one().getUrl() }}" alt="alt text" width="250px" height="250px">
            
            {% endif %}
            <h3 class="mt-3">{{ block.heading }}</h3>
            <p>{{ block.copy }}</p>
            {% if block.resourceUrl | length %}
                <a href="{{ block.resourceUrl }}" style="color: {{ entry.serviceLineColor.getHex() }}; font-weight: bold;">MORE></a>

            {% endif %}
        </div>

        {% endfor %}

    </div>
    
{% endif %}

</div>