{% if craft.mobileDetect.isMobile %}

    {% if entry.picture | length %}

    <div class="blog-hero-mobile" style="background-image: url({{ entry.picture.one().getUrl() }});"></div>

    {% else %}

    <div class="blog-hero-mobile" style="background-color: grey; background-image: url('/images/blog/Stocksy_txp5f38c8e57MT000_Original_315051.jpg');"></div>

    {% endif %}

{% else %}

    {% if entry.picture|length %}

<div class="blog-hero" style="background-image: url({{ entry.picture.one().getUrl() }});">
   
    <div class="blog-hero-inner container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="card ml-0 ml-lg-5 mb-5">
                    <div class="card-body">
                        
                        {% for entry in entry.serviceLine.all() %}

                        <p>{{ entry.title|upper }}</p>

                        {% endfor %}

                        <h2>{{ entry.title }}</h2>
                        <h3>{{ entry.blogLeaderline }}</h3>
                        <div class="row mt-3">

                        {% for entry in entry.selectAuthor.all() %}

                            <div class="col-3">
                                {% if entry.employeePicture | length %}
                                <img src="{{ entry.employeePicture.one().getUrl() }}" alt="..." class="" style="height: 75px; width: 75px; border-radius: 50%;">
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="col-9">
                                <a href="{{entry.url}}"<p>{{ entry.title|upper }}</a><br><i>{{ entry.employeeTitle }}</i>{% endfor %}<br>{{ entry.postDate|date('long') }}</p>
                            </div>

                        
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12"></div> 
        </div>
    </div>
</div>

{% else %}

<div class="blog-hero" style="background-image: url('/images/blog/Stocksy_txp5f38c8e57MT000_Original_315051.jpg'); background-color: grey;">
    <div class="blog-hero-inner container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="card ml-0 ml-lg-5 mb-5">
                    <div class="card-body">
                        
                        {% for entry in entry.serviceLine.all() %}

                        <p>{{ entry.title|upper }}</p>

                        {% endfor %}

                        <h2>{{ entry.title }}</h2>
                        <h3>{{ entry.blogLeaderline }}</h3>
                        <div class="row mt-3">

                        {% for entry in entry.selectAuthor.all() %}

                            <div class="col-3">
                                {% if entry.employeePicture | length %}
                                <img src="{{ entry.employeePicture.one().getUrl() }}" alt="..." class="" style="height: 75px; width: 75px; border-radius: 50%;">
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="col-9">
                                <a href="{{ entry.url }}"<p>{{ entry.title|upper }}</a><br><i>{{ entry.employeeTitle }}</i>{% endfor %}<br>{{ entry.postDate|date('long') }}</p>
                            </div>

                        
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12"></div> 
        </div>
    </div>
</div>
{% endif %}
{% endif %}