<div id="sticker">
    <div>
    <h4>Subscribe to our newsletter</h4>
    <p>Get all our latest content for Interactive delivered to your inbox each month.</p>
    <button type="button" class="lgsb">sign up</button>
</div>
<div class="mt-5">
    <h3>MOST RECENT RELATED</h3>
    <p>Social Media for ECommerce: How and Where to Start Your Strategy</p>
    <p>What is Local SEO and How to Improve Your Ranking</p>
    <p>5 Reasons you Need a Small Business Website</p>
    <button type="button" class="lgsb"><a href="https://bluegrass-website-new.test/blog" class="text-white">explore more</a></button>
</div>
<div class="mt-4">

    {% for block in companyInfo.socialMedia.all() %}

        <a href="{{ block.platformUrl }}" target="_blank"><img src="{{ block.platformIcon.one().getUrl() }}" alt="{{ block.platformName }}icon" class="mr-2"/></a>
    
    {% endfor %}

</div>
</div>