<div id="sticker">
    <div>
    <h4>Subscribe to our newsletter</h4>
    <p>Get all our latest content for Interactive delivered to your inbox each month.</p>
    <button type="button" class="lgsb">sign up</button>
</div>
<div class="mt-5">
    {% set tags = entry.blogTags %}

    {% set entries = craft.entries.section('Blog').orderBy('dateCreated desc').relatedTo(tags).limit(3).id('not ' ~ entry.id).all() %}

    <!-- If an entry has tags this gives us other entries with similar tags and the section is titled Most Recent Related. -->

    {% if tags | length %}

    <h3>MOST RECENT RELATED</h3>

    {% for entry in entries %}

    <p><a href="{{ entry.url }}" style="color: inherit; text-decoration: inherit;">{{ entry.title }}</a></p>

    {% endfor %}

    <!-- If an entry does not have tags we are given the most recent blog posts and the section is titled Most Recent. -->

    {% else %}

    <h3>MOST RECENT</h3>

    {% for entry in craft.entries.section('Blog').orderBy('dateCreated desc').limit(3).id('not ' ~ entry.id).all() %}

    <p><a href="{{ entry.url }}" style="color: inherit; text-decoration: inherit;">{{ entry.title }}</a></p>

    {% endfor %}

    {% endif %}

    <button type="button" class="lgsb"><a href="https://bluegrass-website-new.test/blog" class="text-white">explore more</a></button>
</div>
<div class="mt-4">

    {% for block in companyInfo.socialMedia.all() %}

        <a href="{{ block.platformUrl }}" target="_blank"><img src="{{ block.platformIcon.one().getUrl() }}" alt="{{ block.platformName }}icon" class="mr-2"/></a>
    
    {% endfor %}

</div>
</div>