<div class="container">
<div class="row mb-5 flex-column-reverse flex-md-row ml-5 mr-5">
	<div class="col-md-8">
		<h2>Know Who Your Audience Is</h2>
		<p>
			Your mailing list forms the foundation of your direct mail marketing campaign, and its quality and relevance to your message is the difference between success and failure. All other aspects of your campaign are reliant on the quality and relevant targeting of your mailing list – if you don’t know who’s going to be receiving your mail it is that much harder to create a compelling message that speaks directly to your audience, meaning more time and money spent for less results.
		</p>
	</div>
	<div class="col-md-4 order-md-1">
		<img src="/images/bluegrass/iStock_000063103917_Large.png" alt="dart board" class="img-fluid mb-3">
	</div>
</div>
</div>

