<div class="container">
<div class="row mb-5">
	<div class="col-md-4">
		<img src="/images/bluegrass/istockphoto-1151221495-2048x2048.png" alt="map" class="img-fluid mb-3">
	</div>
		<div class="col-md-8">
		<h2>Target Your Message</h2>
		<p>
			The best way to fast-track your direct mail campaign is to use a targeted mailing list, compiled by detailed and accurate demographic, geographic and psychographic data. Whether you’re looking for consumer leads, business leads, or need to reach out to a specific demographic for any reason, a targeted mailing list can make your campaign affordable and effective – reducing the amount of mail you need to send, while heightening the impact of your message through comprehensive demographic insight into your audience.
		</p>
	</div>
</div>
</div>
