<div class="container">
    <p class="text-center">What Does Creative Have To Do With It?</p>
    <div class="row">
        <div class="col-12 col-lg-6 text-right">
            <dl>
            <dd class="mb-0">Line</dd>
            <dd class="mb-0">Shape</dd>
            <dd class="mb-0">3D Form</dd>
            <dd class="mb-0">Texture</dd>
            <dd class="mb-0">Asymmetry</dd>
            <dd class="mb-0">Balance</dd>
            <dd class="mb-0">Weight</dd>
            <dd class="mb-0">Color</dd>
            <dd class="mb-0">Style</dd>
            <dd class="mb-0">Geometric</dd>
            <dd class="mb-0">Light</dd>
            <dd class="mb-0">Shadow</dd>
            <dd class="mb-0">Perspective</dd">
            <dd class="mb-0">Golden Ratio</dd>
            <dd class="mb-0">Serif</dd>
            <dd class="mb-0">Ascender</dd>
            <dd class="mb-0">Orphans</dd">
            <dd class="mb-0">CMYK</dd>
            <dd class="mb-0">Hex</dd>
            <dd class="mb-0">Palette</dd>
            <dd class="mb-0">Gradient</dd>
            <dd class="mb-0">Tint</dd>
            <dd class="mb-0">Icon</dd>
            <dd class="mb-0">Grid</dd>
            <dd class="mb-0">Pixel</dd>
            <dd class="mb-0">Flat</dd>
            <dd class="mb-0">Raster</dd>
            <dd class="mb-0">Vector</dd>
            </dl>
        </div>
        <div class="col-12 col-lg-6 text-left">
            <dl>
                <dd class="mb-0">Size</dd>
                <dd class="mb-0">Number</dd>
                <dd class="mb-0">Negative</dd>
                <dd class="mb-0">Space</dd>
                <dd class="mb-0">Symmetry</dd>
                <dd class="mb-0">Rule of Thirds</dd>
                <dd class="mb-0">Color Management</dd">
                <dd class="mb-0">Typography</dd">
                <dd class="mb-0">Weight</dd">
                <dd class="mb-0">Organic</dd>
                <dd class="mb-0">Kerning</dd>
                <dd class="mb-0">Leading</dd>
                <dd class="mb-0">Tracking</dd>
                <dd class="mb-0">Hierarchy</dd>
                <dd class="mb-0">Sans Serif</dd>
                <dd class="mb-0">Descender</dd>
                <dd class="mb-0">Widows</dd>
                <dd class="mb-0">RGB</dd>
                <dd class="mb-0">Pantone</dd>
                <dd class="mb-0">Complementary</dd>
                <dd class="mb-0">Opacity</dd">
                <dd class="mb-0">Hue</dd>
                <dd class="mb-0">Logo</dd>
                <dd class="mb-0">Resolution</dd>
                <dd class="mb-0">Saturation</dd>
                <dd class="mb-0">Blur</dd>
                <dd class="mb-0">Crop</dd>
                <dd class="mb-0">Scale</dd>
            </dl>
        </div>
    </div>
    <p class="text-center mt-5">Hundreds of Microdecisions.</p>
</div>