<div class="cta-container d-flex justify-content-center">
	<div class="cta">
		<p class="mt-5 mb-4">CONTACT</p>
		<h4 clas="mb-3">Do you have a project in mind?</h4>
		<p class="mb-4">We want to hear about it.</p>
		<div class="row d-flex justify-content-center">
			<div class="col-lg-6 col-sm-12 text-center mb-3">
				<p class="mb-1">Call us now</p>
				<a href="tel:+18009286245" style="color: inherit; text-decoration: inherit;"><p>1.800.928.6245</p></a>
			</div>
			<!-- <div class="col text-center">
				<div class="vl justify-content-center"></div>
			</div> -->
			<div class="col-lg-6 col-sm-12 text-center">
				<p class="mb-1">Get in touch</p>
				<a href="mailto:info@wearebluegrass.com" style="color: inherit; text-decoration: inherit;"><p>info@wearebluegrass.com</p></a>
			</div>
			<div class="text-center">
				<button id="generalContactButton" class="lgsw mt-5 mb-5">Let's get started</button>
			</div>
		</div>
	</div>
</div>

<div class="container mt-4">
	<form id="generalContact" class="text-left">
		<p class="mb-3 font-italic">Tell us a little bit about yourself</p>
		{{ craft.freeform.form("generalContact").render() }}
	</form>
</div>