<div class="cta-container">
	<div class="cta">
		<p class="mb-4">CONTACT</p>
		<h1 clas="mb-3">Do you have a project in mind?</h1>
		<p class="mb-4">We want to hear about it.</p>
		<div class="row">
			<div class="col text-center">
				<p class="mb-1">Call us now</p>
				<p>1.800.928.6245</p>
			</div>
			<div class="col text-center">
				<div class="vl text-center"></div>
			</div>
			<div class="col text-center">
				<p class="mb-1">Get in touch</p>
				<p>info@wearebluegrass.com</p>
			</div>
		</div class="text-center">
			<button class="lgsw mt-5">Let's get started</button>
	</div>
</div>
