<div class="day-at-bluegrass level1 container">
	<div class="row flex-column-reverse flex-md-row">
		<div class="col-md">
			<div class="row" style="margin-bottom: 30px;">
					<div class="col ">
						<img class="stat" src="/images/branding/dayatbluegrassstat-states-served.png" alt="states served" height="127px" width="127px">
					</div>
					<div class="col">
						<img class="stat" src="/images/branding/dayatbluegrassstat-days-until-next-postal-holiday.png" alt="days until next postal holiday" height="127px" width="127px">
					</div>
					<div class="col">
						<img class="stat" src="/images/branding/dayatbluegrassstat-bike-miles-this-summer.png" alt="miles biked" height="127px" width="127px">
					</div>
			</div>
			<div class="row">
				<div class="col">
						<img class="stat" src="/images/branding/dayatbluegrassstat-pieces-printed.png" alt="pieces printed" height="127px" width="127px">
					</div>
					<div class="col">
						<img class="stat" src="/images/branding/dayatbluegrassstat-orders-fulfilled.png" alt="orders fulfilled" height="127px" width="127px">
					</div>
					<div class="col">
						<img class="stat" src="/images/branding/dayatbluegrassstat-cups-of-coffee.png" alt="coffee consumed" height="127px" width="127px">
				</div>
			</div>
		</div>
		<div class="col-md experienced-partner order-md-1">
				<h2 style="text-transform: uppercase;">About Us</h2>
				<h2>An experienced partner</h2>
				<p>Grown from Bluegrass Mailing, we are so much more than just mailing these days. From printing and processing to design and development, our team has your marketing bases covered. We are devoted to your immediate and continued success.</p>
			</div>
	</div>
</div>

