<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-6 ml-5 mr-5">
    <p class="font-weight-bold">For a deeper dive into all of the products and services available here at Bluegrass, check out our links below:</p>
        <a href="/direct-marketing/interactive-direct-mail">Interactive Direct Mail</a><br>
        <hr>
        <a href="/direct-marketing/every-door-direct-mail">Ever Door Direct Mail</a><br>
        <hr>
        <a href="/direct-marketing/postcard-marketing">Postcard Marketing</a><br>
        <hr>
        <a href="/direct-marketing/variable-data-printing">Variable Data Printing</a><br>
        <hr>
        <a href="/direct-marketing/email-marketing">Email Marketing</a>
    </div>
    </div>
</div>