<div class="container level2">

    {% if craft.mobileDetect.isMobile %}

    <div class="row d-flex" style="margin-top: 125px;">
        <div class="col-5">

            {% if entry.employeePicture | length %}

            <img src="{{ entry.employeePicture.one().getUrl() }}" alt="{{ entry.title }}" class="img-fluid" style="height: 100px; width: 100px; border-radius: 50%;">
            
            {% else %}


            {% endif %}
        </div>
        <div class="col-7">
            <h1>{{ entry.title }}</h1>
            <h4>{{ entry.department }}</h4>
            <h2>{{ entry.employeeTitle }}</h2>
        </div>
    </div>

    <button type="button" class="btn btn-block  btn-primary mt-3 mb-3 text-uppercase">Hire {{ entry.employeeName }} and Team</button>
    
    {% if entry.getToKnow|length %}

    <h4 class="mb-4 font-weight-bold">Get to Know {{ entry.employeeName }}</h4>

    {% for block in entry.getToKnow.all() %}

    {% if block.favoritePart|length %}

    <h4>What is your favorite part of working at Bluegrass?</h4>
    <p>{{ block.favoritePart }}</p>

    {% else %}

    {% endif %}

    {% if block.pets|length %}

    <h4>Do you have any pets?</h4>
    <p>{{ block.pets }}</p>
    {% else %}

    {% endif %}

    {% if block.inspiration|length %}

    <h4>Where do you find inspiration?</h4>
    <p>{{ block.inspiration }}</p>
    {% else %}

    {% endif %}

    {% if block.song|length %}

    <h4>What is the most played song on your playlist?</h4>
    <p>{{ block.song }}</p>

    {% else %}

    {% endif %}

    {% if block.surprisingFact|length %}
    
    <h4>What is one fact about you that surprises people?</h4>
    <p>{{ block.surprisingFact }}</p>

    {% else %}

    {% endif %}

    {% if block.chooseBluegrass|length %}

    <h4>Why do you think clients should choose to work with Bluegrass?</h4>
    <p>{{ block.chooseBluegrass }}</p>
    
    {% else %}
    
    {% endif %}

{% endfor %}

{% endif %} 
    
    

    {% else %}

    <div class="row d-flex" style="margin-top: 200px;">
        <div class="col-lg-8 col-sm-12 justify-content-center align-self-center text-md-left text-center">
            <h1>{{ entry.title }}</h1>
            <h4>{{ entry.department }}</h4>
            <h2>{{ entry.employeeTitle }}</h2>
        </div>
        <div class="col-lg-4 col-sm-12 order-first order-lg-2 align-self-center text-lg-left text-center">

            {% if entry.employeePicture | length %}

            <img src="{{ entry.employeePicture.one().getUrl() }}" alt="{{ entry.title }}" class="img-fluid" style="height: 300px; width: 300px; border-radius: 50%;">
            
            {% else %}


            {% endif %}
            
        </div>
    </div>

    

    <div class="row">
        <div class="col-lg-8 col-sm-12">

{% if entry.getToKnow|length %}

            <h4 class="mb-4 font-weight-bold">Get to Know {{ entry.employeeName }}</h4>

            {% for block in entry.getToKnow.all() %}

            {% if block.favoritePart|length %}

            <h4>What is your favorite part of working at Bluegrass?</h4>
            <p>{{ block.favoritePart }}</p>

            {% else %}

            {% endif %}

            {% if block.pets|length %}

            <h4>Do you have any pets?</h4>
            <p>{{ block.pets }}</p>
            {% else %}

            {% endif %}

            {% if block.inspiration|length %}

            <h4>Where do you find inspiration?</h4>
            <p>{{ block.inspiration }}</p>
            {% else %}

            {% endif %}

            {% if block.song|length %}

            <h4>What is the most played song on your playlist?</h4>
            <p>{{ block.song }}</p>

            {% else %}

            {% endif %}

            {% if block.surprisingFact|length %}
            
            <h4>What is one fact about you that surprises people?</h4>
            <p>{{ block.surprisingFact }}</p>

            {% else %}

            {% endif %}

            {% if block.chooseBluegrass|length %}

            <h4>Why do you think clients should choose to work with Bluegrass?</h4>
            <p>{{ block.chooseBluegrass }}</p>
            
            {% else %}
            
            {% endif %}

        {% endfor %}

{% endif %} 

        </div>
        <div class="col-lg-4 col-sm-12">

            <button type="button" class="btn btn-block btn-lg  btn-primary mt-5 text-uppercase">Hire {{ entry.employeeName }} and Team</button>

        </div>


    

    </div>
{% endif %}

    {% set employeeBlogs = craft.entries.section('Blog').relatedTo(entry).all() %}

        {% if employeeBlogs|length %}
        
        <div class="container mt-5 text-lg-left text-center">
            <h4>Latest from {{ entry.title }}</h4>
        </div>

        <div class="container mt-5">
            <div class="row text-left">

            {% for blog in employeeBlogs %}

                <div class="col-lg-4 mb-4">
                <div class="card mt-3 h-100">

                    {% if blog.picture | length %}
                    <img src="{{ blog.picture.one().getUrl() }}" class="card-img-top" alt="...">

                    {% else %}

                    <img src="/images/blog/Stocksy_txp5f38c8e57MT000_Original_315051.jpg" class="card-img-top" alt="...">
                    
                    {% endif %}

                    <div class="card-body">
                        {% for entry in blog.serviceLine.all() %}
                    <p class="card-subtitle bodyText">{{ entry.title|upper }}</p>
                        {% endfor %}
                    <h3 class="card-title mb-2"><a href="{{ blog.url }}" style="color: inherit; text-decoration: inherit;">{{ blog.title }}</a></h3>
                    <p class="card-subtitle bodyText">{{ blog.postDate | date('long')}}</p>
                    </div>
                    {% if entry.employeePicture | length %}
                    <a href="{{ entry.url }}"<p class="bodyText"><img src="{{ entry.employeePicture.one().getUrl() }}" alt="..." class="ml-3 mr-3" style="height: 75px; width: 75px; border-radius: 50%;">{{ entry.title|upper }}</p></a>
                    {% else %}  
                    <p class="bodyText ml-3" style="margin-bottom: 42px;">{{ entry.title|upper }}</p>
                    {% endif %}  
                </div>
                </div>
        
            {% endfor %}
            
            </div>
        </div>

        {% else %}

        <!-- If an employee does not have blogs then nothing is listed below their employee profile. -->

        {% endif %}
</div>

