<div id="faq" class="container mt-5 mb-5">
    <div class="mb-4">
        <h4 class="bold mb-4">Direct Marketing FAQs</h4>
        <hr>
            <div>
            <p class="question">Can you print my mail piece?</p>
            <p class="answer preToggle">Yes. We can design and print any poscard or mail piece.</p>
            </div>
            <div>
            <p class="question">I don’t have a bulk mail permit – What do I do?</p>
            <p class="answer preToggle">You do not have to have your own permit in order to take advantage of bulk mail postal discounts. We have permits for all classes of mail - Presort First Class, Presort Standard, etc.
                <br><br>Our clients can print our permit on the mail piece / envelope and Bluegrass can prepare the mailing file to meet the appropriate USPS standards which allows you to capture the postage savings.</p>
            </div>
       </div>
       <div class="mb-4">
            <h4 class="bold mb-4">Interactive FAQs</h4>
            <hr>
            <div>
            <p class="question">Can you provide an email list?</p>
            <p class="answer preToggle">Per spam legislation – all email broadcasts must be permission based.  We do not sell email lists.</p>
            </div>
        </div>
        <div class="mb-4">
            <h4 class="bold mb-4">Transactional FAQs</h4>
            <hr>
                <div>
                <p class="question">How does Bluegrass work?</p>
                <p class="answer preToggle">Businesses enter their billing information into their ERP system as usual. 
                    Instead of printing the information the billing files are sent to us electronically 
                    via a secure FTP site. We do the rest: From determining which bills get sent by 
                    mail, email or fax to applying our state of the art technology so you can optimize 
                    savings.</p>
                </div>
                <div>
                <p class="question">I can print bills from my software, but I don't like the way they look. Can Bluegrass help?</p>
                <p class="answer preToggle">Yes. Bluegrass can create a completely custom bill design to meet 
                    your needs, including special messages, your organization’s custom logos, and charts and 
                    graphs (depending on data availability).</p>
                </div>
                <div>
                    <p class="question">How does Bluegrass select bill samples for me to review?</p>
                    <p class="answer preToggle">Through our Web based portal you have the ability to view your bills prior to our processing. 
                        You securely login to the portal, select bills you do not want sent and then approve the processing run prior to Bluegrass 
                        sending.</p>
                </div>
                <div>
                    <p class="question">How do I get my customers to adopt to electronic bill delivery?</p>
                    <p class="answer preToggle">Bluegrass offers an e-Adoption Program to help you convert your customers to electronic delivery 
                        solutions like email, fax or web. The program applies best practices developed from working with over 100 customers.  
                        Many of our customers have achieved electronic bill delivery adoption levels of over 25%.</p>
                </div>
                <div>
                    <p class="question">How does pricing typically work for bills sent by mail?</p>
                    <p class="answer preToggle">For bills sent by mail you pay based on the number of pages per envelope. The more pages in an envelope 
                        the more you save on material and postage. Our advanced technology allows you to set rules that will maximize the number of 
                        pages you can include in an envelope without unnecessarily delaying the sending of your bills.<br><br>
                        Further, our e-Adoption team will work with you to move your customers from traditional mail to email, fax 
                        or web delivery.</p>
                </div>
                <div>
                    <p class="question">How does my company send our bills to Bluegrass for processing?</p>
                    <p class="answer preToggle">We offer a secure FTP site that allows you to upload your billing files which are 
                        then sent to Bluegrass for processing.  Our technology will identify how the bill is to be delivered 
                        (U.S. mail, fax, email, or web) and which of our regional facilities will send the bills going by U.S. Mail.</p>
                </div>
           </div>
           <div class="mb-4">
            <h4 class="bold mb-4">All Service Line FAQs</h4>
            <hr>
            <div>
                <p class="question">Can I pay by credit card?</p>
                <p class="answer preToggle">Yes.  Notify your Project Manager that you wish to do so and a secure credit card payment link will 
                    be emailed to you for completion.</p>
            </div>
            <div>
                <p class="question">Can you pick up my materials?</p>
                <p class="answer preToggle">We have a fleet of vehicles that can pickup or deliver daily within the Central Kentucky, Louisville and 
                    Cincinnati areas.</p>
            </div>
           </div>
</div>