<div id="faq" class="container mt-5 mb-5">
    <h4 class="bold mb-4">Direct Marketing FAQs</h4>
    <hr>
    {% for block in frequentlyAskedQuestions.faqs.all() %}

    {% if block.serviceLine == 'Direct Marketing' %}
        <div>
        <p class="question">{{ block.question }}</p>
        <p class="answer preToggle">{{ block.answer }}</p>
        </div>

    {% endif %}

    {% endfor %}

    <h4 class="bold mb-4 mt-5">Interactive FAQs</h4>
    <hr>
    {% for block in frequentlyAskedQuestions.faqs.all() %}

    {% if block.serviceLine == 'Interactive' %}
        <div>
        <p class="question">{{ block.question }}</p>
        <p class="answer preToggle">{{ block.answer }}</p>
        </div>
    {% endif %}

    {% endfor %}

    <h4 class="bold mb-4 mt-5">Transactional FAQs</h4>
    <hr>
    {% for block in frequentlyAskedQuestions.faqs.all() %}

    {% if block.serviceLine == 'Transactional' %}
        <div>
        <p class="question">{{ block.question }}</p>
        <p class="answer preToggle">{{ block.answer }}</p>
        </div>
    {% endif %}

    {% endfor %}

    <h4 class="bold mb-4 mt-5">All Service Lines FAQs</h4>
    <hr>
    {% for block in frequentlyAskedQuestions.faqs.all() %}

    {% if block.serviceLine == 'All Service Lines' %}
        <div>
        <p class="question">{{ block.question }}</p>
        <p class="answer preToggle">{{ block.answer }}</p>
        </div>
    {% endif %}

    {% endfor %}
</div>
    