<footer>
  <div class="footer-contents">
    <img
      src="/images/branding/footer-large-3000x1000.jpg"
      alt="grass with roots"
      style="width: 100%;"
    />
    <div class="container">
      <div class="row">
        <div class="col">
          <img
            class="footer-logo"
            src="/images/branding/BIC_Brand_Icon_340x340.png"
            alt="Bluegrass Integrated Communications Logo"
          />
        </div>
        <div class="col">
          <h5>CONTACT</h5>
          <p class="mt-3 mb-0">833 Nandino Boulevard</p>
          <p>Lexington, KY 40511</p>
          <p class="mt-3 mb-0"><a href="tel:800-928-6245" class="text-white">800.928.6245</a></p>
          <p><a href="tel:800-928-6245" class="text-white">859.231.7272</a></p>
        </div>
        <div class="col">
          <h5>COMPANY</h5>
          <p class="mt-3 mb-0"><a href="/about-us" class="text-white">About Us</a></p>
          <p><a href="/jobs" class="text-white">Careers</p></a>
          <h5 class="mb-3">CONNECT</h5>

          {% for block in companyInfo.socialMedia.all() %}

            <a href="{{ block.platformUrl }}" target="_blank"><img src="{{ block.platformIcon.one().getUrl() }}" alt="{{ block.platformName }}icon" class="mr-1" style="height: 32px; width: 32px;"/></a>
    
          {% endfor %}

        </div>
        <div class="col form-group mt-0">
          <p>
            Join over 1,500 professionals who receive monthly marketing updates
            and tips.
          </p>
          {{ craft.freeform.form("newsletter").render() }}
        </div>
      </div>
      <div class="row">
        <div class="col text-center mt-5">
          <p style="font-size: 10px">Copyright 2020, All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
