{% if craft.mobileDetect.isMobile %}
<footer>
  <div class="container ml-2">
    <div class="text-center">
      <img class="mt-5 mb-5" src="/images/branding/BIC_Logo_BlueRGB_200.jpg" alt="Bluegrass Integrated Communications Logo"/>
    </div>

    <h5>CONTACT US</h5>
      <p class="mb-0"><a class="mobile-footer-link" href="tel:1-800-928-6245">800.928.6245</a></p>
      <p><a class="mobile-footer-link" href="tel:859-231-7272">859.231.7272</a></p>
  
      <h5>COMPANY</h5>
      <p class="mb-0"><a class="mobile-footer-link" href="/about-us">About</a></p>
      <p class="mb-0"><a class="mobile-footer-link"href="/jobs">Careers</a></p>
      <p class="mb-0"><a class="mobile-footer-link"href="/frequently-asked-questions">FAQ</a></p>
      <p><a class="mobile-footer-link"href="/your-privacy">Your Privacy</a></p>

      <h5>SERVICES</h5>
      <p class="mb-0"><a class="mobile-footer-link" href="/amplify">Integrated Marketing</a></p>
      {% for entry in craft.entries.section('Services').level(1).all() %}

        <p class="mb-0"><a class="mobile-footer-link" href="{{ entry.url }}">{{ entry.title }}</a></p>

      {% endfor %}
      

      <h5 style="margin-top: 8px;">RESOURCES</h5>
      <p class="mb-0"><a class="mobile-footer-link" href="http://wearebluegrass-8102511.hs-sites.com/blog">Blog</a></p>
      <!-- <p class="mb-0"><a class="mobile-footer-link" href="">eBooks</a></p> -->
      <p><a class="mobile-footer-link" href="/indicia">Indicia</a></p>
      <!-- <p class="mb-0"><a class="mobile-footer-link" href="">Client Logins</a></p> -->

      <h5>NEWSLETTER</h5>
      <p class="mb-0">
        Join over 1,500 professionals who receive monthly marketing updates
        and tips.
      </p>
      <!-- {{ craft.freeform.form("newsletter").render() }} -->
      <!--[if lte IE 8]>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
        portalId: "8102511",
        formId: "20b69615-bbcd-4fad-a8fb-fe2ce1a1554e"
      });
      </script>

      <div class="text-center mt-5">
      {% for block in companyInfo.socialMedia.all() %}

        <a href="{{ block.platformUrl }}" target="_blank"><img src="{{ block.platformIconBlue.one().getUrl() }}" alt="{{ block.platformName }}icon" class="mr-1" style="height: 32px; width: 32px;"/></a>
    
      {% endfor %}
    </div>
    <div class="text-center mt-3 mb-3">
      <a href="/privacy-policy" style="font-size: 10px;">Privacy Policy</a>
    </div>
    <div class="text-center text-secondary">
      <p style="font-size: 10px">Copyright {{ "now"|date("Y") }}, All Rights Reserved</p>
    </div>
</div>
<div class="footer-contents">
  <img
    src="/images/branding/iStock-9518703_KO_burnedroots_crop.png"
    alt="grass with roots"
    style="width: 100%;"
  />
</div>
</footer>

{% else %}

<footer class="level1">
    <div class="container footer-container">
      <div class="row">
        <div class="col">
          <img
            class="footer-logo"
            src="/images/branding/BIC_Brand_Icon_340x340.png"
            alt="Bluegrass Integrated Communications Logo"
          />
        </div>
        <div class="col text-secondary">
          <h5>CONTACT</h5>
          <p class="mt-3 mb-0">833 Nandino Boulevard</p>
          <p>Lexington, KY 40511</p>
          <p class="mt-3 mb-0"><a href="tel:800-928-6245">800.928.6245</a></p>
          <p><a href="tel:859-231-7272">859.231.7272</a></p>
        </div>
        <div class="col text-secondary">
          <h5>COMPANY</h5>
          <p class="mt-3 mb-0"><a href="/about-us">About Us</a></p>
          <p class="mb-0"><a href="/jobs">Careers</p></a>
          <p class="mb-0"><a href="/frequently-asked-questions">Frequently Asked Questions</p></a>
          <p><a href="/your-privacy">Your Privacy</p></a>
          <h5 class="mb-3">CONNECT</h5>

          {% for block in companyInfo.socialMedia.all() %}

            <a href="{{ block.platformUrl }}" target="_blank"><img src="{{ block.platformIconBlue.one().getUrl() }}" alt="{{ block.platformName }}icon" class="mr-1" style="height: 32px; width: 32px;"/></a>
    
          {% endfor %}

        </div>
        <div class="col form-group mt-0 text-secondary">
          <h5>NEWSLETTER</h5>
          <p>
            Join over 1,500 professionals who receive monthly marketing updates
            and tips.
          </p>
          <!-- {{ craft.freeform.form("newsletter").render() }} -->
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "8102511",
            formId: "20b69615-bbcd-4fad-a8fb-fe2ce1a1554e"
          });
          </script>
        </div>
      </div>
      <div class="row">
        <div class="col text-center mt-5 text-secondary">
          <p style="font-size: 10px">Copyright {{ "now"|date("Y") }}, All Rights Reserved</p>
        </div>
      </div>
  </div>
  <div class="footer-contents">
    <img
      src="/images/branding/iStock-9518703_KO_burnedroots_crop.png"
      alt="grass with roots"
      style="width: 100%;"
    />
</div>
</footer>
{% endif %}