<div class="hero level1">
<!-- 	<video playsinline autoplay muted loop id="myVideo">
  	<source src="/images/pexelsvideo.mp4" type="video/mp4">
	</video> -->

	<!-- if homepage make title two lines -->

{% if entry.uri == "__home__" %}

	{% if craft.mobileDetect.isMobile %}

		<img class="hero-image" src="{{ entry.heroImage.one().getUrl() }}" alt=" " style="background-color: {{ entry.serviceLineColor }};" style="-webkit-transform: scaleX(-1);
		transform: scaleX(-1);">

	{% else %}

		{% if entry.heroVideo | length %}

		<video playsinline autoplay muted loop class="hero-image" id="myVideo" src="{{ entry.heroVideo.one().getUrl() }}" alt=" " type="video/mp4" style="background-color: {{ entry.serviceLineColor }};"></video>	

		{% else %}

		<img class="hero-image" src="{{ entry.heroImage.one().getUrl() }}" alt=" " style="background-color: {{ entry.serviceLineColor }};">

	{% endif %}

{% endif %}

<div class="container">
	<div class="hero-copy">
			<h1 class="hero-title text-white">{{ entry.heroTitle }}<br>{{ entry.heroTitle2 }}</h1>
			<div class="row">
				<div class="col-8">
					<p class="hero-subtitle text-white">{{ entry.heroSubtitle }}</p>
				</div>
				<div class="col-4"></div>
				
			</div>
			<div class="text-center">

			<!-- {% include "/components/arrow-down.html" with { heading: "WHAT CAN WE DO FOR YOU?"} %} -->

			</div>
	</div>
</div>
</div>

{% else %}

<div class="hero level1">

	{% if craft.mobileDetect.isMobile %}

	<img class="hero-image" src="{{ entry.heroImage.one().getUrl() }}" alt=" " style="background-color: {{ entry.serviceLineColor }};">

{% else %}

	{% if entry.heroVideo | length %}

	<video playsinline autoplay muted loop class="hero-image" id="myVideo" src="{{ entry.heroVideo.one().getUrl() }}" alt=" " type="video/mp4" style="background-color: {{ entry.serviceLineColor }};"></video>	

	{% else %}

	<img class="hero-image" src="{{ entry.heroImage.one().getUrl() }}" alt=" " style="background-color: {{ entry.serviceLineColor }};">

	{% endif %}

{% endif %}

<div class="container">
	<div class="hero-copy">

			{% if entry.uri == "thanks" %}

			{% else %}

			<h1 class="hero-title">{{ entry.title }}</h1>

			{% endif %}

			<div class="row">
				<div class="col-8">
					<h2 class="hero-subtitle">{{ entry.heroSubtitle }}</h2>
				</div>
				<div class="col-4"></div>
			</div>
			<div class="text-center" style="margin-top: 150px;">

				<!-- {% include "/components/arrow-down.html" with { heading: "DISCOVER OUR SERVICES"} %} -->
		
			</div>
		</div>
	</div>
</div>

{% endif %}


