<div class="cta-container d-flex justify-content-center level1 home-cta">
	<div class="cta">
		<img src="/images/branding/BIC_Brand_Icon_340x340.png" alt="Bluegrass Widget" class="mt-5 mb-5" height="100px" width="auto">
		<p class="mt-5 mb-4 text-secondary">CONTACT</p>
		<h4 class="mb-3 text-primary">Do you have a project in mind?</h4>
		<p class="mb-4 text-secondary">We want to hear about it.</p>
		<div class="row d-flex justify-content-center">
			<div class="col-lg-6 col-sm-12 text-center mb-3">
				<p class="mb-1 text-secondary">Call us now</p>
				<a href="tel:+18009286245" class="text-primary"><p>1.800.928.6245</p></a>
			</div>
			<!-- <div class="col text-center">
				<div class="vl justify-content-center"></div>
			</div> -->
			<div class="col-lg-6 col-sm-12 text-center">
				<p class="mb-1 text-secondary">Get in touch</p>
				<a href="mailto:info@wearebluegrass.com" class="text-primary" style="text-decoration: inherit;"><p>info@wearebluegrass.com</p></a>
			</div>
			<div class="text-center">
				<button type="button" class="button lgsw mt-5 mb-5" data-toggle="modal" data-target="#gencontact">LET'S GET STARTED</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="gencontact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalCenterTitle">Tell us a little big about yourself</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			<!--[if lte IE 8]>
			<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
			<![endif]-->
			<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
			<script>
			hbspt.forms.create({
				portalId: "8102511",
				formId: "a1e4ad17-5e5e-4315-8b4f-02e02545e82d"
			});
			</script>
		</div>
	</div>
	</div>
</div>