<div class="home-about container level1">
	<div class="row">
		<div class="col-md">
			<h4>Way more than mailing...</h4>
			<p>We are not just another traditional mailing house. We are an integrated marketing solutions provider with a variety of services under one roof. Explore the services that have our customers calling us a natural extension of their marketing and sales departments!</p>
		</div>
		<div class="col-md">
			<img src="/images/bluegrass/BICExterior.jpg" alt="exterior of Bluegrass building" class="img-fluid">
		</div>
	</div>
</div>