<div class="container">
    <p class="text-center mb-5">Bluegrass Mailing Services</p>
    <div class="row">
        <div class="col-lg-6 col-12">
            <p>Services</p>
            <ul>
                <li>Handwork</li>
                <li>Inkjet addressing</li>
                <li>Stamping</li>
                <li>Machine envelope addressing</li>
                <li>Mail metering</li>
                <li>Bulk mail</li>
                <li>Dropshipping mail</li>
                <li>Multipage inserting</li>
                <li>Presorting</li>
                <li>Automated mailing systems</li>
                <li>Flat and parcel sorting</li>
                <li>Mail barcoding and comingling</li>
                <li>Fast forwarding for individual and business mail</li>
                <li>Mail sorting</li>
                <li>Metering and presorting</li>
            </ul>
        </div>
        <div class="col-lg-6 col-12">
            <p>Capabilities</p>
            <ul>
                <li>Paper cutting</li>
                <li>Spot gluing</li>
                <li>Creasing</li>
                <li>Tabbing</li>
                <li>Folding</li>
                <li>Scoring</li>
                <li>Perforating</li>
            </ul>
        </div>
    </div>  
</div>