<div class="container">
    <p class="mt-3" style="font-size: 18px;">You may also like...</p>
    <div class="row mb-3">
        <div class="col-4">
            <img src="/images/imagehero/tbbc-every-day-is-a-gift-dress.png" alt="..." style="width: 100px; border-radius: 10px 0px 0px 10px;" class="h-100">
        </div>
        <div class="col-8">
            <p>Political Postcards Drive Your Message Home</p>
            <p><small>June 25, 2020</small></p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <img src="/images/imagehero/tbbc-every-day-is-a-gift-dress.png" alt="..." style="width: 100px; border-radius: 10px 0px 0px 10px;" class="h-100">
        </div>
        <div class="col-8">
            <p>Political Postcards Drive Your Message Home</p>
            <p><small>June 25, 2020</small></p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <img src="/images/imagehero/tbbc-every-day-is-a-gift-dress.png" alt="..." style="width: 100px; border-radius: 10px 0px 0px 10px;" class="h-100">
        </div>
        <div class="col-8">
            <p>Political Postcards Drive Your Message Home</p>
            <p><small>June 25, 2020</small></p>
        </div>
    </div>
</div>