<div id="moreresources">
<div class="container">
	<h3 class="text-center">More Resources: test</h3>
	<div class="row text-center">
		<div class="col">
			<div class="card">
			  <div class="card-body">
			    INTERACTIVE: 5 Reasons You Need A Small Business Website>
			  </div>
			</div>
		</div>
		<div class="col">
			<div class="card">
			  <div class="card-body">
			    INTERACTIVE: 5 Reasons You Need A Small Business Website>
			  </div>
			</div>
		</div>
		<div class="col">
			<div class="card">
			  <div class="card-body">
			    DIRECT MARKETING: Make the Most of Your Political Mailing >
			  </div>
			</div>
		</div>
	</div>
</div>
</div>