<div id="moreresources">
<div class="container">
	<h3 class="text-center mt-5 mb-5">More Resources:</h3>
	<div class="row text-center">

	{% for entry in craft.entries().section('blog').limit(3).id('not ' ~ entry.id).all() %}

		<div class="col-lg-4 mb-4">
			<div class="card h-100 mt-3">
				{% if entry.picture | length %}
			<img srcset="{{ entry.picture.one().getUrl() }}" class="card-img-top" alt="...">
				{% else %}
				<img src="/images/blog/Stocksy_txp5f38c8e57MT000_Original_315051.jpg" class="card-img-top" alt="...">
				{% endif %}
			  <div class="card-body">

				{% for entry in entry.serviceLine.all() %}

				  <p class="card-subtitle bodyText">{{ entry.title|upper }}</p>

				{% endfor %}
				
			  	<h3 class="card-title mb-2"><a href="{{ entry.url }}" style="color: inherit; text-decoration: inherit;">{{ entry.title }}</a></h3>
			  </div>

			  
			{% for author in entry.selectAuthor.all() %}

				<a href="{{ author.url }}"<p class="bodyText"><img src="{{ author.employeePicture.one().getUrl() }}" alt="{{ author.title }}" class="ml-3 mr-3" style="width: 75px; height: 75px; border-radius: 50%;">{{ author.title|upper }}</p></a>		
			
			{% endfor %}

			</div>
		</div>

	{% endfor %}

	</div>
</div>
</div>