<div id="moreresources">
<div class="container">
	<h3 class="mb-5">{{ explainer }}</h3>
	<div class="row text-center">
			{% for blog in craft.hubspot.blogs %}

			{% for post in  craft.hubspot.blogPosts(blog.id, {limit: 3,}) %}

				<!-- <article>
					<h5>
						<img src="{{post.featured_image}}" height="300px" width="auto"><br>
						<a href="{{ post.published_url }}">
							{{ post.html_title }} - {{ post.author_name }}
						</a>
					</h5>
				</article> -->

				<div class="col-lg-4 mb-4">
					<div class="card h-100 mt-3 border-0">
						<img srcset="{{post.featured_image}}" alt="{{ post.featured_image_alt_text }}" class="card-img-top" alt="...">
		
					
					  <div class="card-body">
						  <!-- <p class="card-subtitle bodyText">{{ post.tag_ids[0] }}</p> -->
						  <h3 class="card-title mb-2"><a href="{{ post.published_url }}" style="color: inherit; text-decoration: inherit;">{{ post.html_title }}</a></h3>
						  <!-- <p class="card-subtitle bodyText">{{ entry.postDate | date('long')}}</p> -->
					  </div>
						<a href=""><p class="bodyText"><img src="{{ post.blog_author.avatar }}" alt="" class="ml-3 mr-3" style="width: 75px; height: 75px; border-radius: 50%;">{{ post.blog_author.display_name|upper }}</p></a>		
					</div>
				</div>

			{% endfor %}

			{% endfor %}


	</div>
</div>
</div>

