{# The navbar for the home page and service line pages function differently than those for the services pages. The services page need blue font folor from the get go while the home and service pages do not. They start with white text on a dark background - because of the video - and then turn to blue after the user scrolls a bit. Adding the active class to the navbar and putting it here was the best solution I could come up with for now... #}

<div class="header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-fixed-top active">
    <a class="navbar-brand" href="http://wearebluegrass.com">
      <img class="nav-logo" src="/images/branding/BIC_Brand_Icon_340x340.png" alt="Bluegrass Integrated Communications Logo">
    </a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://bluegrass-website-new.test/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#">Industries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item ml-5 mr-5">
          <a class="nav-link" href="tel:800-928-6245">800.928.6245</a>
        </li>
        <li class="nav-item">
          <img class="nav-icon nav-link mr-2" src="/images/branding/streamline-icon-phone@64x64_white.svg" alt="Phone Icon">
        </li>
        <li class="nav-item">
          <img class="nav-icon nav-link" src="/images/branding/streamline-icon-search-alternate@64x64_white.svg" alt="Search Icon">
        </li>
      </ul>
    </div>
  </nav>
</div>