<div class="partners" style="background-color: #006ea4; height: 156px;">
  <div class="row" style="background-color: #006ea4;">
    <div class="col text-center"><img src="/images/branding/partners/partner-ket-white.png" alt="KET logo"></div>
    <div class="col text-center"><img src="/images/branding/partners/partner-ku-white.png" alt="Kentucky Utilities logo"></div>
    <div class="col text-center"><img src="/images/branding/partners/partner-wuky-white.png" alt="WUKY logo"></div>
    <div class="col text-center"><img src="/images/branding/partners/partner-lexmark-white.png" alt="Lexmark logo"></div>
    <div class="col text-center"><img src="/images/branding/partners/partner-lge-white.png" alt="LG&E logo"></div>
    <div class="col text-center"><img src="/images/branding/partners/partner-ukalumni-white.png" alt="UK Alumni logo"></div>
  </div>
</div>
