<div class="partners" style="background: {{ entry.serviceLineColor }};">
  <div class="row">

    {% for block in companyInfo.partners.all() %}

    {% if craft.mobileDetect.isMobile %}

    <div class="col col-sm-4 text-center"><img src="{{ block.icon.one().getUrl() }}" alt="{{ block.partnerName }}" width="50px" height="auto"></div>
    
    {% else %}
    
    <div class=" col col-lg-2 col-sm-4 text-center"><img src="{{ block.icon.one().getUrl() }}" alt="{{ block.partnerName }}"></div>
    
    {% endif %}

    {% endfor %}
  </div>
</div>
