<div class="container">
<div class="row flex-column-reverse flex-lg-row mt-5">
    <div class="col-sm-12 col-lg-6 location text-center">
        <h2 class="text-center mb-5 mt-3">Find Us</h2>
        <img src=" {{ branding.brandLogo.one().getUrl() }}" alt="Bluegrass Logo" class="mb-4" style="width: 75%; height: auto;" />
        <iframe class="reach-us-map mb-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3140.569950162135!2d-84.49761348493288!3d38.080395302290306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884244472e19b2b5%3A0x36cbe5407ffd1397!2sBluegrass%20Integrated%20Communications!5e0!3m2!1sen!2sus!4v1578520758841!5m2!1sen!2sus" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="row text-center ml-2 mr-2" style="background-color: #006ea4; border-radius: 5px; height: auto;">
        
            {% for block in companyInfo.socialMedia.all() %}
    
            <div class="col mt-2 mb-2">
                <a href="{{ block.platformUrl }}" target="_blank"><img src="{{ block.platformIcon.one().getUrl() }}" alt="{{ block.platformName }}icon" class="mt-2 mb-2" style="height: 32px; width: 32px;"/></a>
            </div>
    
            {% endfor %}
    
            </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <h2 class="text-center mb-5 mt-3">Reach Us</h2>
        {{ craft.freeform.form("reachUs").render() }}
    </div>
</div>
</div>