<div class="research-strategize-branchout container text-center">
	<h5 style="text-transform: uppercase; color: #4A4A4A; margin-bottom: 60px;">where would you like to start?</h5>
	<div class="row">
		<div class="col">
			 <img src="/images/streamline-icon-coffee-cup-hot@24x24.svg" class="icon" alt="coffee cup icon">
			 <p>Research</p>
		</div>
		<div class="col">
			 <img src="/images/streamline-icon-shipment-open@24x24.svg" class="icon" alt="open shipment box icon">
			 <p>Strategize</p>
		</div>
		<div class="col">
			 <img src="/images/streamline-icon-bicycle@24x24.svg" class="icon" alt="bicycle icon">
			 <p>Branchout</p>
		</div>
	</div>
</div>
