<div id="service-line-row" class="container mt-5 level1">
  <div class="row">
    <div class="col discover">
      <h2>Discover Our Services</h2>
    </div>
  </div>
  <div class="row icon-row">


    <!-- Iterates over the entries within the Services section to output the service lines -->

    {% for entry in craft.entries.section('Services').level(1).all() %}

    <div class="col d-flex justify-content-center">
      <div class="card">
        <a href="{{ entry.url }}"><img src="{{ entry.serviceLineIcon.one().getUrl() }}" class="card-img-top" alt="{{ entry.title }} Icon"></a>
        <div class="card-body">
          <h3 class="card-text text-center">{{ entry.title }}</h3>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</div>