<div id="service-line-row" class="container">
  <div class="row">
    <div class="col discover">
      <h3>Discover our Services</h3>
    </div>
  </div>
  <div class="row icon-row">
    <div class="col d-flex justify-content-center">
      <div class="card">
        <a href="/direct-marketing"><img src="/images/branding/Direct/icon-shaded-direct.png" class="card-img-top" alt="direct marketing icon"></a>
        <div class="card-body">
          <p class="card-text text-center">Direct Marketing</p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card">
        <a href="/interactive"><img src="/images/branding/Interactive/icon-shaded-interactive.png" class="card-img-top" alt="interactive icon"></a>
        <div class="card-body">
          <p class="card-text text-center">Interactive</p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card">
        <a href="/fundraising"><img src="/images/branding/Fundraising/icon-shaded-fundraising.png" class="card-img-top" alt="fundraising icon"></a>
        <div class="card-body">
          <p class="card-text text-center">Fundraising</p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card">
        <a href="/fulfillment"><img src="/images/branding/Fulfillment/icon-shaded-fulfillment.png" class="card-img-top" alt="fulfillment icon"></a>
        <div class="card-body">
          <p class="card-text text-center">Fulfillment</p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="card">
        <a href="/transactional"><img src="/images/branding/Transactional/icon-shaded-transactional.png" class="card-img-top" alt="transactional icon"></a>
        <div class="card-body">
          <p class="card-text text-center">Transactional</p>
        </div>
      </div>
    </div>
  </div>
</div>