<div id="slider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="row mt-5" style="background: url('https://via.placeholder.com/1440x500/00875e/FFFFFF') center /cover no-repeat; height: 575px;">
        <div class="col-8">
        </div>
        <div class="col-3">
            <div class="card" style="background-color: #006EA4; height: 300px; width: 300px;">
              <div class="card-body">
                <h4 class="text-white ml-2 mr-2">NEW FROM BLUEGRASS</h4>
                <br>
                <h4 class="text-white ml-2 mr-2">AAEP Foundation: Stepping up their fundraising collateral</h4>
              </div>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row mt-5" style="background: url('https://picsum.photos/1440/500') center /cover no-repeat; height: 575px;">
        <div class="col-8">
        </div>
        <div class="col-3">
            <div class="card" style="background-color: #006EA4; height: 300px; width: 300px;">
              <div class="card-body">
                <h4 class="text-white ml-2 mr-2">NEW FROM BLUEGRASS</h4>
                <br>
                <h4 class="text-white ml-2 mr-2">AAEP Foundation: Stepping up their fundraising collateral</h4>
              </div>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row mt-5" style="background: url('https://via.placeholder.com/1440x500/b9d40d/FFFFFF') center /cover no-repeat; height: 575px;">
        <div class="col-8">
        </div>
        <div class="col-3">
            <div class="card" style="background-color: #006EA4; height: 300px; width: 300px;">
              <div class="card-body">
                <h4 class="text-white ml-2 mr-2">NEW FROM BLUEGRASS</h4>
                <br>
                <h4 class="text-white ml-2 mr-2">AAEP Foundation: Stepping up their fundraising collateral</h4>
              </div>
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>
  </div>
</div>
