<div class="container mt-5 level2">

<!-- {% if entry.children | length %}
    <h2 class="text-center mb-5">Types of {{ entry.title }}</h2>
{% endif %} -->

    <div class="row d-flex justify-content-center mb-5">

    {% if entry.title == "Mailing Lists" %}    

        {% set entries = entry.children().level(3).all() %}
        
        {% for entry in entries %}
        
        <div class="col-lg-4 col-md-6 col-sm-6 text-center mb-3">
            <a href="{{ entry.url }}">
            <img src="{{ entry.subServiceImage.one().getUrl() }}" width="200px" height="200px;"/>
            <h3 class="mt-2">{{ entry.title }}</h3>
        </a>
        </div>

        {% endfor %}

    {% else %}

        {% set entries = entry.children().level(3).all() %}

        {% for entry in entries %}

            <div class="col col-lg-4 col-12 mb-3">

                {% if entry.subServiceImage | length %}

                <img src="{{ entry.subServiceImage.one().getUrl() }}" class="img-responsive" width="250px" height="250px;"/>
                
                {% else %}

                {% endif %}

                <a href="{{ entry.url }}" style="color: #4A4A4A;"><h3 class="mt-2">{{ entry.title }}</h3></a>
                <p>
                    {{ entry.bodyCopy }}
                    <a href="{{ entry.url }}" style="color: {{ entry.serviceLineColor.getHex() }}; font-weight: bold;">MORE></a>
                </p>
            </div>

        {% endfor %}

    {% endif %}

    </div>
</div>