{% if craft.mobileDetect.isTablet %}

<div class="service-line-hero" style="background-image:url({{ entry.heroImageTablet.one().getUrl() }}); height: 100vh; width: 100vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">


{% elseif craft.mobileDetect.isMobile %}

<div class="service-line-hero" style="background-image:url({{ entry.heroImageMobile.one().getUrl() }}); height: 100vh; width: 100vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">


{% else %}

<div class="service-line-hero" style="background-image:url({{ entry.heroImage.one().getUrl() }}); height: 100vh; width: 100vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">

{% endif %} 
    
    <!-- <img src="/images/art--hero-L-bluegrass.jpg" alt="BIC logo" class="widgetLogo img-fluid" /> -->
    <!-- <img src="/images/BIC_Widget_Tablet_Hero_1024x1333.jpg" alt="BIC logo" class="widgetLogo img-fluid" /> -->
    <!-- <img src="/images/BIC_Widget_Mobile_Hero_1024x1333.jpg" alt="BIC logo" class="widgetLogo img-fluid" /> -->
    <div class="container">
    <div class="service-line-hero-copy">
      <h5 class="text-uppercase">{{ entry.parent }}</h5>
      <span id="service-header" class="serviceHeader typer" data-typer-targets="{{ entry.title }}" style="color: #000000; font-size: 3.495em; font-weight: 500;"></span>
        <img src="{{ entry.icon.one().getUrl() }}" class="service-line-icon img-fluid cursor ml-5 mb-5" alt="{{ entry.title }} icon" />
      <p class="text-secondary">
       {{ entry.heroSubtitle }}
      </p>
    </div>
  </div>
</div>

{% include "/components/arrow-down.html" %}