{% if craft.mobileDetect.isTablet %}

<div class="service-line-hero" style="background-image:url({{ entry.heroImageTablet.one().getUrl() }}); height: 100vh; width: 100vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="container">
        <div class="service-line-hero-copy">
          <h4 class="text-uppercase">{{ entry.parent }}</h4>
          <h1>{{ entry.title }}
            <img src="{{ entry.icon.one().getUrl() }}" class="service-line-icon img-fluid cursor ml-2" alt="{{ entry.title }} icon" />
          </h1>
          <p class="text-secondary">
           {{ entry.heroSubtitle }}
          </p>
        </div>
      </div>
    </div>

{% elseif craft.mobileDetect.isMobile %}

<div class="service-line-hero" style="background-image:url({{ entry.heroImageMobile.one().getUrl() }}); height: 100vh; width: 100vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="container">
        <div class="service-line-hero-copy">
          <h4 class="text-uppercase">{{ entry.parent }}</h4>
          <h1>{{ entry.title }}
            <img src="{{ entry.icon.one().getUrl() }}" class="service-line-icon img-fluid cursor ml-2" alt="{{ entry.title }} icon" />
          </h1>
          <p class="text-secondary">
           {{ entry.heroSubtitle }}
          </p>
        </div>
      </div>
      {% include "/components/arrow-no-text.html" %}
    </div>

{% else %}

<div class="service-line-hero" style="background-image:url({{ entry.heroImage.one().getUrl() }}); height: 100vh; width: 100vw; background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="container">
        <div class="service-line-hero-copy">
          <h4 class="text-uppercase">{{ entry.parent }}</h4>
          <h1>{{ entry.title }} 
            <img src="{{ entry.icon.one().getUrl() }}" class="service-line-icon img-fluid cursor ml-2" alt="{{ entry.title }} icon" />
          </h1>
          <!-- <span id="service-header" class="serviceHeader typer" data-typer-targets="{{ entry.title }}" style="color: #000000; font-size: 3.495em; font-weight: 500;"></span> -->
            
          <p class="text-secondary">
           {{ entry.heroSubtitle }}
          </p>
        </div>
      </div>
      {% include "/components/arrow-no-text.html" %}
    </div>
{% endif %} 
    
    <!-- <img src="/images/art--hero-L-bluegrass.jpg" alt="BIC logo" class="widgetLogo img-fluid" /> -->
    <!-- <img src="/images/BIC_Widget_Tablet_Hero_1024x1333.jpg" alt="BIC logo" class="widgetLogo img-fluid" /> -->
    <!-- <img src="/images/BIC_Widget_Mobile_Hero_1024x1333.jpg" alt="BIC logo" class="widgetLogo img-fluid" /> -->
    