<div class="container">
    <h2 class="text-center mb-5" style="color: #006ea4; margin-top: 150px;">Our Team</h2>
    <div class="row d-flex justify-content-center mb-5">

        {% set entries = entry.children().level(2).all() %}

        {% for entry in entries %}

            {% if entry.currentlyEmployedByBluegrass %}

            <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                <a href="{{ entry.url }}"><img src="{{ entry.employeePicture.one().getUrl() }}" alt="{{ entry.title }}" style="width: 150px; height: 150px; border-radius: 50%;"></a>
                <a href="{{ entry.url }}" style="text-decoration: none; color: black;"><p class="mt-3">{{ entry.title }}</p></a>
            </div>

            {% else %}

            {% endif %}


        {% endfor %}
        
    </div>

    

</div>