<div id="thanks" class="container">
    <h1>{{ entry.thankYouHeading }}</h1>
    <h2 class="mb-4 text-primary">{{ entry.thankYouSubHead }}</h2>
    <p class="col-lg-6 pl-0 text-secondary">{{ entry.thankYouCopy }}</p>
    <h3 class="mt-5 mb-2 text-primary">Want to learn more?</h3>
    <form action="search/results">
        <div class="form-group col-xs-6 col-lg-6">
            <label class="text-light" for="search">Search Our Site:</label>
            <input type="search" name="q" class="form-control">
        </div>
        <div class="form-group pl-0">
            <button type="submit" class="lgsb ml-3">Search</button>
        </div>
    </form>
</div>
    {% if craft.mobileDetect.isMobile %}

    {% include "/components/mobileMoreResources.html"%}

    {% include "/components/mobile-cta.html" %}

    {% else %}

    {% include "/components/moreresources.html" with {explainer:"Our latest Resources"} %}

    {% endif %}    
