{% extends "_layout" %}


{% block content %}

{% include "/components/navigation.html" %}

{% include "/components/hero-about.html" %}

<div class="container text-center mt-3">
    <iframe src="https://www.youtube.com/embed/tTP-fB9q4eM" style="aspect-ratio: auto;" frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>

{% include "/components/historymissionvision.html" %}

{% include "/components/team.html" %}

<div class="container text-center mb-5" style="border-radius: 50px;">
    <p class="mt-5">Want to see yourself at Bluegrass?</p>
    <a href="/jobs">View Current Openings</a>
</div>

{% if craft.mobileDetect.isMobile %}

        {% include "/components/mobile-cta.html" %}

        {% else %}
        
        {% include "/components/cta.html" %}

    {% endif %}

{% include "/components/footer.html" %}

{% endblock %}